.custom-html-title {
    font-size: 18px;
    font-weight: 500;
}

.choices {
    margin-bottom: 0 !important;
}

.validation-message {
    color: red;
    font-size: 14px;
}

.toast-success {
    background: #198754;
}

.toast-error {
    background: #dc3545;
}

.created_updated_main_div {
    border: 1px solid red;
    border-radius: 5px;
}

.created_updated_label {
    font-weight: bold;
}

.created_updated {
    color: red;
    font-weight: 500;
}

.avatar-xl {
    height: 10rem !important;
    width: 10rem !important;
}

.form-label {
    color: #242424 !important;
    font-weight: 530 !important;
}

.stat-purple {
    background: #e6dfff;
}

.stat-green {
    background: #d9f5e8;
}

.stat-yellow {
    background: #fff0c9;
}

.stat-pink {
    background: #fde0e9;
}

/* Soft badges */
.badge-soft-purple {
    background-color: #e9e3ff;
    color: #6246e5 !important;
}

/* Outline badges */
.badge-outline-purple {
    border: 1px solid #cfc3ff;
}

.designation-badge {
    background: #2c7ac8;
    color: #ffffff;
    border: 1px solid #818285;
}
